*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #D3D3D3;
}

header .title{
  height: 80px;
  font-size: 50px;
  color: #29B1DE;
  background-color: white;
}

nav.ricerca{
  height: 80px;
  display: flex;
  justify-content: center;
  color: white;
  background-color: #29B1DE;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 80px;

}

label{
  vertical-align: middle;
  margin-right: 10px;
}

.icone{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.icona{
  width: calc(100% / 5 - 50px);
  padding: 30px 0px;
  margin: 25px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: -4px 7px 10px 2px rgba(0,0,0,0.32);
}
